In [13]:
 #导入必要的函数库 import numpy
import random 
import pandas as pd 
import math
from sklearn.model_selection import train_test_split
from sklearn import datasets
from collections import defaultdict

In [8]:
train_news_path = r"./train/train.tsv"
train_history_path = r"./train/train_news.tsv"

In [9]:
train_history = pd.read_csv(train_history_path, sep='\t',header=0)
train_history

,Nid,Category,SubCategory,Title,Abstract
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the..."
1,N19639,health,weightloss,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi..."
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re..."
...,...,...,...,...,...
51277,N16909,weather,weathertopstories,"Adapting, Learning And Soul Searching: Reflect...",Woolsey Fire Anniversary: A community is forev...
51278,N47585,lifestyle,lifestylefamily,Family says 13-year-old Broadway star died fro...,NaN
51279,N7482,sports,more_sports,St. Dominic soccer player tries to kick cancer...,"Sometimes, what happens on the sidelines can b..."
51280,N34418,sports,soccer_epl,How the Sounders won MLS Cup,"Mark, Jeremiah and Casey were so excited they ..."
51281,N44276,autos,autossports,Best Sports Car Deals for October,NaN

In [10]:
train_news = pd.read_csv(train_news_path, sep='\t',header=0)
train_news

,Uid,Date,History,Impression
0,U48196,11/11/2019 7:56:24 PM,N51591 N23288 N33604 N3908 N16730 N23571 N1673...,N58410-0 N53696-0 N51797-0 N64482-0 N4936-0 N1...
1,U46641,11/14/2019 1:03:08 PM,N44598 N48076 N31248 N11673 N18106 N3128,N20270-0 N34185-0 N38779-1 N45523-0
2,U48973,11/14/2019 9:47:23 AM,N27612 N24569 N51706 N63526 N62058,N23446-0 N12446-0 N58660-0 N38779-0 N6477-0 N3...
3,U15980,11/12/2019 6:14:10 AM,N52518 N16636 N32223 N60485 N43725 N9460 N3654...,N57713-0 N25722-0 N20043-0 N20041-0 N57459-0 N...
4,U48830,11/10/2019 1:42:02 PM,N1570 N9808 N39813 N10059 N30708 N15771 N22469...,N53245-0 N4936-0 N27101-0 N64513-0 N15224-0 N3...
...,...,...,...,...
9995,U38291,11/11/2019 7:39:38 AM,N64049 N54827 N14801 N42620 N47277 N52551,N59981-0 N55689-0 N42961-0 N13801-1 N154-0 N63...
9996,U80022,11/11/2019 4:25:51 PM,N11264 N62931 N37327 N38629 N29177 N56586 N624...,N16920-0 N51825-0 N60872-0 N28837-0 N42597-0 N...
9997,U75259,11/9/2019 7:52:43 PM,N49944 N19693 N22561 N19495,N45211-0 N36752-0 N59852-0 N48958-0 N1034-0 N4...
9998,U44699,11/10/2019 8:14:43 AM,N25691 N53636 N29177 N51112 N61471 N62287 N191...,N30836-0 N47453-0 N26130-0 N350-0 N39471-0 N57...
9999,U72967,11/9/2019 11:32:30 AM,N59426 N47127 N44674 N28257 N61820,N58051-0 N51398-0 N43595-0 N37088-0 N24272-0 N...

In [15]:
News_list = defaultdict(list)
User_list = defaultdict(list)